* {
  margin: 0;
  padding: 0;
}

.user-detail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(347px, auto));
  margin: 50px auto;
  max-width: 1240px;
  padding: 20px;
}

#user-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(347px, auto));
  margin: 50px auto;
  max-width: 1240px;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
}

.head {
  color: #fff;
  background-color: rgb(85, 85, 224);
  font-family: "Courier New", Courier, monospace;
}
.card {
  background-color: aqua;
  margin: 12px 33px 28px 48px;
  text-align: left;
  padding: 10px;
  border: rgb(20, 129, 129);
  border-radius: 10px;
}

#log {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: red;
  border-radius: 10px;
  border: beige;
  background-color: aqua;
  margin: 23px 336px 3px 123px;
}
